{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}DjangoWebApp{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'coreapp/base.css' %}" />
</head>
<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">DjangoWebApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item"><a class="nav-link text-dark" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="{% url 'user_list' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="{% url 'article_list' %}">Articles</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="{% url 'image_list' %}">Image Modifications</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="{% url 'image_multi' %}">Image Multimodifications</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-fill">
  <div class="container">
      {% block content %}{% endblock %}
  </div>
  </main>

  <footer class="footer border-top text-muted mt-auto">
    <div class="container">
      &copy; 2025 - DjangoWebApp - <a class="text-decoration-none text-dark" href="{% url 'home' %}">Home</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
