{% extends 'core/base.html' %}
{% block title %}Upload Image{% endblock %}
{% block content %}
<h2>Upload Image</h2>

<form method="post" enctype="multipart/form-data" class="mt-4">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_file" class="form-label">Choose image:</label>
    <input type="file" name="file" id="id_file" class="form-control" required>

    {% if form.file.errors %}
      <div class="text-danger">
        {{ form.file.errors }}
      </div>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
